<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>ATS - Users</title>
</head>
<body>
	<div th:fragment="all-staffs">
		<div th:if="${message}"
			class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 mb-3 rounded relative"
			role="alert">
			<strong class="font-bold">Success!!</strong> <span
				class="block sm:inline" th:text="${message}"></span> <span
				class="absolute top-0 bottom-0 right-0 px-4 py-3"> </span>
		</div>
		<div class="w-full flex flex-row-reverse mb-3">
			<div class="inline-flex">
				<button class="bg-gray-300 py-2 px-4 font-bold rounded-l"
					title="Create new staff" ng-click="showStaffList = !showStaffList"
					ng-class="{'bg-gray-500 text-white': !showStaffList, 'text-gray-800': showStaffList}">Create</button>
				<button class="bg-gray-300 py-2 px-4 font-bold rounded-r"
					title="Staff details" ng-click="showStaffList = !showStaffList"
					ng-class="{'bg-gray-500 text-white': showStaffList, 'text-gray-800': !showStaffList}">Show</button>
			</div>
		</div>
		<div ng-if="!showStaffList">
			<form class="w-full px-48" method="post"
				th:action="@{/admin/staff/add}">
				<div class="flex flex-wrap -mx-3 mb-6">
					<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
						<label
							class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
							STAFF NAME </label> <input
							class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
							type="text" name="staffname" placeholder="Staff name">
					</div>
					<div class="w-full md:w-1/2 px-3">
						<label
							class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
							Field </label> <input
							class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
							type="text" name="field" placeholder="Computer Science">
					</div>
				</div>
				<div class="flex flex-wrap -mx-3 mb-6">
					<div class="w-full px-3">
						<label
							class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
							TECHNOLOGY KNOWN </label>
						<textarea
							class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
							placeholder="Java, SQL, C, etc" rows="5" name="technology"></textarea>
					</div>
				</div>
				<button
					class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
					type="submit">Add Staff</button>
			</form>
		</div>
		<div ng-if="showStaffList">
			<div class="w-full flex flex-row-reverse">
				<div class="mb-4">
					<input
						class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
						type="text" placeholder="Search here"
						ng-keyup="updateStaff($event)">
				</div>
			</div>
			<form th:action="@{/admin/staff/edit}" method="post">
				<table class="table-fixed">
					<thead>
						<tr>
							<th class="w-1 px-4 py-2">#</th>
							<th class="w-4/12 px-4 py-2">Name</th>
							<th class="w-4/12 px-4 py-2">Field</th>
							<th class="w-4/12 px-4 py-2">Technology Known</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${staff.size()==0}">
							<td colspan="4" class="border px-4 py-2 text-center">No
								staff details found</td>
						</tr>
						<tr th:each="staf,itr: ${staff}"
							th:ng-if="'doSearchStaff(\'' + ${staf.staffName}  + '\', staffs)'">
							<td
								class="border px-4 py-2 text-center cursor-pointer no-underline hover:underline"
								th:text="${itr.index + 1}"
								th:ng-click="'doSelectStaff(' + ${staf.staffId} + ')'"></td>
							<td
								class="border px-4 py-2 cursor-pointer underline hover:no-underline"
								th:ng-if="'selectedStaff!=' + ${staf.staffId}"
								th:text="${staf.staffName}"
								th:ng-click="'doSelectStaff(' + ${staf.staffId} + ')'"></td>
							<td class="border px-4 py-2"
								th:ng-if="'selectedStaff==' + ${staf.staffId}"><input
								type="hidden" name="staffid" th:value="${staf.staffId}" /> <input
								type="text" class="shadow py-2 px-3"
								th:value="${staf.staffName}" name="staffname" /></td>
							<td class="border px-4 py-2 text-center"
								th:ng-if="'selectedStaff!=' + ${staf.staffId}"
								th:text="${staf.field}"></td>
							<td class="border px-4 py-2"
								th:ng-if="'selectedStaff==' + ${staf.staffId}"><input
								type="text" class="shadow py-2 px-3" th:value="${staf.field}"
								name="field" /></td>
							<td class="border px-4 py-2"
								th:ng-if="'selectedStaff!=' + ${staf.staffId}"
								th:text="${staf.technologyKnown}"></td>
							<td class="border px-4 py-2"
								th:ng-if="'selectedStaff==' + ${staf.staffId}"><textarea
									class="shadow py-2 px-3" th:text="${staf.technologyKnown}"
									name="technology"></textarea> <input type="submit"
								style="position: absolute; left: -9999px; width: 1px; height: 1px"
								tabindex="-1" /></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</body>
</html>