<html xmlns:th="https://www.thymeleaf.org" ng-app="atsApp">
<head>
<title>ATS - Admin Home</title>
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/style.css}"></link>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body ng-controller="adminHomeController">
	<nav
		class="flex items-center justify-between flex-wrap bg-gray-700 p-6">
		<div class="flex items-center flex-shrink-0 text-white mr-6">
			<span class="font-semibold text-xl tracking-tight">Spring ATS</span>
		</div>
		<div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
			<div class="text-sm lg:flex-grow"></div>
			<div>
				<a href="#" class="inline-block mt-0 text-white mr-4"
					th:text="${username}"> Name </a> <a href="../logout"
					class="inline-block text-sm px-4 py-2 leading-none hover:text-teal-400 text-white mt-0">Logout</a>
			</div>
		</div>
	</nav>
	<div class="container mx-auto m-4">
		<div class="flex mb-4">
			<div class="w-1/4 h-64">
				<ul class="list-none">
					<li
						class="p-4 border-2 border-white cursor-pointer rounded hover:font-medium"
						th:classappend="${users} ? 'text-white bg-teal-700' :  'text-teal-700 hover:border-gray-300'">
						<a th:href="@{/admin/users}">Manage Users</a>
					</li>
					<li
						class="p-4 border-2 border-white cursor-pointer rounded hover:font-medium"
						th:classappend="${assignment} ? 'text-white bg-teal-700' :  'text-teal-700 hover:border-gray-300'">
						<a th:href="@{/admin/assignment}">Assignment</a>
					</li>
					<li
						class="p-4 border-2 border-white cursor-pointer rounded hover:font-medium"
						th:classappend="${course} ? 'text-white bg-teal-700' :  'text-teal-700 hover:border-gray-300'">
						<a th:href="@{/admin/course}">Courses</a>
					</li>
					<li
						class="p-4 border-2 border-white cursor-pointer rounded hover:font-medium"
						th:classappend="${staff} ? 'text-white bg-teal-700' :  'text-teal-700 hover:border-gray-300'">
						<a th:href="@{/admin/staff}">Manage Staff</a>
					</li>
				</ul>
			</div>

			<div th:if="${users}" class="w-3/4 h-auto p-5 border-2 rounded">
				<div th:replace="fragments/users :: all-users"></div>
			</div>
			<div th:if="${staff}" class="w-3/4 h-auto p-5 border-2 rounded">
				<div th:replace="fragments/staffs :: all-staffs"></div>
			</div>
			<div th:if="${course}" class="w-3/4 h-auto p-5 border-2 rounded">
				<div th:replace="fragments/courses :: all-courses"></div>
			</div>

		</div>
	</div>
	<script type="text/javascript" th:src="@{/assets/js/app.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/controller.js}"></script>
</body>
</html>