<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>ATS - Login</title>
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/style.css}"></link>
</head>
<body>
	<div
		class="flex content-center justify-center flex-wrap bg-gray-200 h-full">
		<div>
			<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
				th:action="@{/login}" method="post">
				<div class="mb-4">
					<label class="block text-gray-700 text-sm font-bold mb-2"
						for="username"> Username </label> <input
						class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
						name="username" type="text" placeholder="Username">
				</div>
				<div class="mb-6">
					<label class="block text-gray-700 text-sm font-bold mb-2"
						for="password"> Password </label> <input
						class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
						name="password" type="password" placeholder="***********">
				</div>
				<div class="flex items-center justify-between">
					<button
						class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
						type="submit">Sign In</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>